* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    color: #8a8a8a;
}

.light-mode {
    background-color: #ffffff;
}

.navbar {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #8a8a8a;
}

.help-icon {
    height: 30px;
}

.main-heading {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}

.toggle-btn {
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    border: #8a8a8a solid 3px;
    padding: 2px;
}

.toggle-btn > img {
    height: 100%;
}

.input-board {
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.input-row {
    display: flex;
    flex-wrap: nowrap;
    color: #ffffff;
}

.input-row-light-mode {
    color: #141414;
}

.input-letter {
    width: 50px;
    height: 50px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 4px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #8a8a8a;
    cursor: default;
    text-transform: uppercase;
    color: inherit;
}

.input-letter:focus {
    outline: none;
    caret-color: transparent;
}

.correct {
    background-color: #538d4e;
}

.close {
    background-color: #b59f3b;
}

.wrong {
    background-color: #787c7e;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5);
    }
    100% {
        transform: translateX(0);
    }
}

.invalid {
    animation: shake 0.2s linear 2;
}

.keyboard-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
}

.keyboard-row {
    display: flex;
    flex-wrap: nowrap;
}

.keyboard-row > button {
    height: 35%;
    font-family: "Libre Franklin", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 5.5% 10px;
    margin: 3px 2px;
    background-color: transparent;
    border: 2px solid #8a8a8a;
    color: #8a8a8a;
    border-radius: 10px;
    cursor: pointer;
}